
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

button {
  background: none;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb{
  background-color: aqua;
  width: 100%;
}